/* ==========================
   RESET STYLES
   ========================== */
   *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }

   
/* ==========================
   GLOBAL STYLES
   ========================== */
   body{
      
      /* font-family: "Playfair Display", serif; */
      font-family: "Poppins", sans-serif;
      scroll-behavior: smooth;
      
   }

   a{
    text-decoration: none;
    cursor: pointer;
   }

   li{
    list-style: none;
    cursor: pointer;
   }

   button, i{
      cursor: pointer;
   }

   body{
      background-color: #FFFFFF;
   }


/* ==========================
   HEADER PART STYLES
   ========================== */
   header{
      background-color: #F6F6F6;
      height: 100%;
   }

/* 
========Nav PART========
*/
   nav{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 30px 80px;
   }

   .navigation-container{
      display: flex;
      align-items: center;
      gap: 40px;
   }

   .navigation-container ul{
      display: flex;
      align-items: center;
   }

   .nav-list{
      gap: 50px;
   }

   .nav-icon-list{
      gap: 10px;
   }

   .nav-icon{
      background-color: #ffffff;
      font-size: 18px;
      padding: 10px;
      border-radius: 50%;
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.019);
   }


/* 
========BANNER PART========
*/
.banner-part{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 80px;
   gap: 100px;
}

.banner-title-button-container h3{
   font-size: 17px;
   color: #291414;
   font-weight: 400;
}

.banner-title-button-container h1{
   font-family: "Playfair Display", serif;
   font-size: 60px;
   font-family: 100;
}

.banner-title-button-container p{
   font-size: 18px;
   color: #333333;
   padding: 15px 0 25px 0;
}

.button-container{
   display: flex;
   align-items: center;
   gap: 20px;
}

.button-container button{
   font-size: 16px;
   border: none;
   border-radius: 30px;
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.097);
      cursor: pointer;
}


/* 
========BANNER PART========
*/
.section1{
   display: flex;
   justify-content: center;
   gap: 50px;
   margin: 100px 0;
}

.primary-category-container{
   background-color: #0B7E8A;
   padding: 40px 60px;
   width: 500px;
   height: 650px;
   border-radius: 30px;
}

.primary-category-container h1{
   font-family: "Playfair Display", serif;
   font-size: 35px;
   font-family: 100;
   color: #FFFFFF;
}

.primary-category-container p{
   font-size: 16px;
   color: #ececec;
   padding: 15px 0 30px 0;
}

.box-container{
   width: 50%;
}

.box-content{
   display: flex;
   justify-content: space-between;
   background-color: #F6F6F6;
   padding: 40px 30px 40px 55px;
   border-radius: 30px;
}

.box-content-title-container h3{
   font-family: "Playfair Display", serif;
   font-size: 30px;
   font-family: 100;
   color: #000000;
}

.box-content-title-container p{
   font-size: 15px;
   color: #646464;
   padding: 15px 0 30px 0;
}


/* 
========SECTION PART2========
*/
.section2{
   margin: 100px 70px;
}

.section2-title-container{
   text-align: center;
   padding:  0 0 50px 0;
}

.section2-title-container h1{
   font-family: "Playfair Display", serif;
   font-size: 50px;
   padding-bottom: 10px;
   font-family: 100;
   color: #000000;
}

.section2-card-container{
   display: flex;
   justify-content: center;
   gap: 40px;
}

.card-content{
   width: 280px;
   height: 100%;
}

.card-img-container img{
   width: 100%;
   border-radius: 20px;
}

.card-content h3{
   font-family: "Playfair Display", serif;
   font-size: 18px;
   color: #000000;
   padding: 15px 0 0 0;
}

.card-content p{
   font-size: 18px;
   color: #0B7E8A;
   font-weight: 700;
   padding: 10px 0 15px 0;
}

.section1-button-icon-container{
   display: flex;
   align-items: center;
   gap: 10px;
}

.section1-button-icon-container button{
   margin-top: 5px;
   padding: 10px 20px;
   background-color: #ffffff;
   border: 1px solid #33333323;
   border-radius: 5px;
   cursor: pointer;
}

.section1-button-icon-container ion-icon{
   padding: 10px;
   font-size: 17px;
   border-radius: 50%;
   background-color: #ffffff;
   border: 1px solid #33333323;
   cursor: pointer;
}


/* 
========SECTION PART3========
*/
.section3{
   margin: 100px 0;
   background-color: #F6F6F6;
}

.section3-container{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0px 30px 0 80px;
}

.section3-title-container h1{
   font-family: "Playfair Display", serif;
   font-size: 60px;
   color: #000000cb;
}

.section3-title-container button{
   margin-top: 30px;
   font-size: 16px;
   padding: 15px 30px;
   background-color: #0B7E8A;
   border: none;
   color: #ffffff;
   border-radius: 5px;
}


/* 
========SECTION PART3========
*/
.section4{
   margin: 100px 80px;
}

.section4-container{
   display: flex;
   justify-content: center;
   gap: 50px;
}

.selling-furniture-container{
   background-color: #0B7E8A;
   padding: 40px 60px;
   width: 600px;
   height: 450px;
   border-radius: 30px;
}

.selling-furniture-container h1{
   font-family: "Playfair Display", serif;
   font-size: 35px;
   font-family: 100;
   color: #FFFFFF;
}

.selling-furniture-container p{
   font-size: 16px;
   color: #ececec;
   padding: 15px 0 30px 0;
}

.section4-img-container img{
   display: flex;
   position: relative;
   top: -70px;
   left: 100px;
}

.sec4-box-container{
   display: flex;
   gap: 30px;
}


/* 
========SECTION PART6========
*/
.section6{
   margin: 160px 0 100px 0;
   background-color: #F6F6F6;
}

.section6-container{
   display: flex;
   height: 380px;
   justify-content: space-between;
   align-items: center;
   padding: 0px 60px 0 80px;
}

.section6-title-container h1{
   font-family: "Playfair Display", serif;
   font-size: 50px;
   color: #000000cb;
}

.section6-title-container p{
   font-size: 18px;
   color: #333333;
   padding: 20px 0 0 0;
}

.section6-title-container button{
   margin-top: 20px;
   font-size: 16px;
   padding: 15px 30px;
   background-color: #0B7E8A;
   border: none;
   color: #ffffff;
   border-radius: 5px;
}

.section6-img-container{
   height: 550px;
}


/* 
========SECTION PART7========
*/
.section7{
   margin: 100px 70px;
}

.section7-title-container{
   text-align: center;
   padding:  0 0 50px 0;
}

.section7-title-container h1{
   font-family: "Playfair Display", serif;
   font-size: 50px;
   padding-bottom: 10px;
   font-family: 100;
   color: #000000;
}

.section7-card-container{
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   justify-content: center;
   gap: 40px;
}

.sec7-card-content{
   width: 280px;
   height: 100%;
}

.sec7-card-img-container img{
   width: 100%;
   border-radius: 20px;
}

.sec7-card-content h3{
   font-family: "Playfair Display", serif;
   font-size: 18px;
   color: #000000;
   padding: 15px 0 0 0;
}

.sec7-card-content p{
   font-size: 18px;
   color: #0B7E8A;
   font-weight: 700;
   padding: 10px 0 15px 0;
}

.section7-button-icon-container{
   display: flex;
   align-items: center;
   gap: 10px;
}

.section7-button-icon-container button{
   margin-top: 5px;
   padding: 10px 20px;
   background-color: #ffffff;
   border: 1px solid #33333323;
   border-radius: 5px;
   cursor: pointer;
}

.section7-button-icon-container ion-icon{
   padding: 10px;
   font-size: 17px;
   border-radius: 50%;
   background-color: #ffffff;
   border: 1px solid #33333323;
   cursor: pointer;
}


/* 
========SECTION PART8========
*/
.section8{
   margin: 150px 80px;
}

.service-container{
   display: flex;
   justify-content: center;
   gap: 100px;
   align-items: center;
   text-align: center;
}

.service-content h3{
   font-family: "Playfair Display", serif;
   font-size: 20px;
   color: #000000;
   padding: 10px 0;
}

.service-content p{
   font-size: 13px;
   color: #646464;
}


/* 
========SECTION PART3========
*/
.section9{
   margin: 50px 55px 100px 55px;
}

.article-title-container{
   display: flex;
   justify-content: space-between;
   margin-bottom: 30px;
}

.article-title-container button{
   padding: 13px 40px;
   background-color: #ffffff;
   border: 1px solid #33333323;
   border-radius: 6px;
   cursor: pointer;
   font-size: 20px;
   font-family: "Playfair Display", serif;
   font-weight: 500;
}

.article-card-container{
   display: flex;
   justify-content: center;
   gap: 20px;
}

.article-card-content img{
   border-radius: 20px;
   max-width: 300px;
   height: 200px;
}

.article-card-content h6{
   color: #646464;
   font-size: 13px;
   font-weight: 500;
   margin-top: 10px;
}

.article-card-content p{
   font-size: 15px;
   color: #000000;
   padding: 5px 0 0 0;
}